.root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 64px;
    background-color: #312f30;
}

.toggleTheme {
    height: 50%;
    font-weight: 600;
    color: #a79b9b;
    background-color: #5f5c5e;
    border-radius: 4px;
    padding: 0 10px;
}

.order {
    font-size: 19px;
    font-weight: 600;
    color: #5c5555;
    background-color: #e8b8d3;
    border-radius: 4px;
    padding: 0 25px;
}