.root {
    display: flex;
    flex-direction: row;
}

.button {
    position: relative;
    height: 100%;
    font-size: 17px;
    font-weight: 700;
    border-radius: 4px;
    padding: 10px 25px;
}

.button:not(:last-child) {
    margin-right: 10px;
}